<div class="rendezes-gombok">
  <button (click)="sortProducts('low-to-high')">
    <i class="bi bi-arrow-down"></i> Legolcsóbbak
  </button>
  
  <button (click)="sortProducts('high-to-low')">
    <i class="bi bi-arrow-up"></i> Legdrágábbak
  </button>
</div>

<div class="prime-lista">
  <div *ngFor="let prime of prime; let i = index" class="prime-item">
    <div class="prime-card">
      <h3>{{ prime.nev }}</h3>
      <img [src]="prime.image" [alt]="prime.nev" class="prime-kep">
      <p class="leiras"> {{ prime.leiras }} </p>
      <p class="ar">Ár: {{ prime.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="prime.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>

<div *ngIf="showNotification" class="notification">
  A termék kosárba rakva!
</div>

<button class="scroll-to-top" (click)="scrollToTop()">↑</button>