<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiókom</title>
</head>
<body>
    <div class="container">
        <div class="profile-card">
            <img src="assets/logo.png" alt="Profilkép" class="profile-img">
            <h1 class="profile-name">Email cím:</h1>
            <p class="profile-email">{{ userEmail || '' }}</p>
            <h2>Szia, {{ userEmail || 'Vendég' }}!</h2>
            <!-- <button (click)="editProfile()">Profil szerkesztése</button>
            <button (click)="logout()">Kijelentkezés</button> -->
            <button (click)="purchase()">Vásárolnék</button> 
        </div>
    </div>
</body>
</html>



