html, body {
  height: 100%;  
  margin: 0;  
  padding: 0; 
  overflow: hidden;  
  background-color: #ffffff;  
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;  
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;  
  width: 100%;
  margin-top: 7px; 
}

.profile-card {
  background: #fdf9f9;  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;  
  margin-top: 40px;  
  transition: box-shadow 0.3s ease, transform 0.3s ease;  
}

.profile-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  
  transform: translateY(-5px);  
}


.profile-img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin: 7px 0;
}

.profile-email {
  color: #666;
  font-size: 0.9rem;  
  margin-bottom: 30px;  
}

h2 {
  font-size: 1.1rem !important;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

button {
  background-color: #030608;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 0.8rem !important;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: block;
  margin: 30px auto; 
}

button:hover {
  background-color: #555;
  transform: scale(1.05);
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
}

button:active {
  background-color: #003f7f;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
  button {
    padding: 15px 30px;
    font-size: 1.2rem;
  }
}
