<div class="login-container">
  <h2>Admin Belépés</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Admin Név</label>
    <input type="email" id="email" formControlName="email" required />

    <label for="password">Jelszó</label>
    <input type="password" id="password" formControlName="password" required />

    <button type="submit" [disabled]="loginForm.invalid">Bejelentkezés</button>

   
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  </form>
</div>




