

   <div class="contact-container">
    <h1 class="title">Kapcsolatfelvétel</h1>
  
    <div class="contact-info">
      <div class="info-item">
        <i class="fas fa-envelope"></i>
        <p><strong>Email:</strong> <a href="mailto:ugyfelszolgalat.edessegvilag@gmail.com"> ugyfelszolgalat.edessegvilag&#64;gmail.com </a></p>
      </div>
      <div class="info-item">
        <i class="fas fa-phone-alt"></i>
        <p><strong>Telefon:</strong> <a href="tel:+3630xxxxxxx"> +36 30 123 4567 </a></p>
      </div>
      
      <div class="google-maps">
        <i class="fas fa-map-marker-alt"></i>
        <p>
          <strong>Cím:</strong>
          <a [href]="getGoogleMapsUrl()" target="_blank">
            {{ address }}
          </a>
        </p>
      </div>
      
    <div class="social-media">
      <p>Kapcsolatban állhatsz velünk a közösségi médián is!</p>
  
      <div class="social-links">
        <a href="https://www.instagram.com/edesseg.vilag/" class="social-icon">
          <img src="assets/socialsImg/instagram.png" alt="Instagram" class="social-image">
          <span>edesseg.vilag</span>
        </a>
        <a href="https://www.tiktok.com/@edesseg.vilag" class="social-icon">
          <img src="assets/socialsImg/tiktok.png" alt="TikTok" class="social-image">
          <span>edesseg.vilag</span>
        </a>
      </div>
    </div>
  </div>
  